.DS_Store
node_modules
.idea
.vscode
packages/client-payments/src/proto/nilchain.ts # generated protobuf codec
dist
!packages/wasm/dist
packages/fixture/addition_division.nada.bin
packages/fixture/network.json
