.DS_Store
.idea
.vscode

node_modules
dist
docs

packages/client-payments/src/proto/nilchain.ts # generated protobuf codec
packages/fixture/addition_division.nada.bin
packages/fixture/network.json
!packages/client-wasm/dist

.next
examples/nextjs/package-lock.json
examples/react/package-lock.json
