.DS_Store
.idea
.vscode

packages/client-payments/src/proto/nilchain.ts # generated protobuf codec
!packages/client-wasm/dist
docs
logs

# npm related artefacts
node_modules
dist
dist-test
.next

# python related artefacts
__pycache__
venv
